@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

/* Selects the root element of the document:   <html> in the case of HTML */
:root {
  --primary-color: #047aed;
  --secondary-color: #1c3fa8;
  --dark-color: #002240;
  --light-color: #f4f4f4;
}

/* Creating a reset using the universal selector (*) */
* {
  box-sizing: border-box; /* allows us to add padding and borders without having to add to the width of an element */
  padding: 0;
  margin: 0;
}

body {
  font-family: "Lato", sans-serif;
  color: #333;
  line-height: 1.6;
}

ul {
  list-style-type: none; /* removes the discs from the default ul */
}

a {
  text-decoration: none; /* gets rid of the lines underneath the text links */
  color: #333;
}

h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0; /* margin top and bottom 10 pixels, margin left and right 0 pixels. */
}

p {
  margin: 10px 0;
}

img {
  width: 100%; /* keeps the images 100% of the container, no overflowing out of the container */
}

/* Navbar Styling */

.navbar {
  background-color: var(--primary-color);
  color: #fff;
  height: 70px;
}

.navbar ul {
  display: flex;
}

.navbar a {
  color: #fff; /* colours the hypertext links */
  padding: 10px;
  margin: 0 5px;
}

.navbar a:hover {
  border-bottom: 2px #fff solid; /* creates the solid bar under the hypertext links when the mouse hovers over the links */
}

.navbar .flex {
  justify-content: space-between; /* joining the .navbar and .flex makes sure that the navbar styling remains the same and the .flex can be used in other ares of the program */
}

/* Showcase Styling */ /* 20.43 */

.showcase {
  height: 400px;
  background-color: var(--primary-color);
  color: #fff;
  position: relative;
}

.showcase h1 {
  font-size: 40px;
}

.showcase p {
  margin: 20px 0;
}

.showcase .grid {
  overflow: visible;
  grid-template-columns: 55% auto;
  gap: 30px;
}

.showcase-form {
  position: relative;
  top: 60px;
  height: 350px;
  width: 400px;
  padding: 40px;
  z-index: 100; /* ensures that the showcase-form is always at the front (on top) */
  justify-self: flex-end;
}

.showcase-form .form-control {
  margin: 30px 0;
}

.showcase-form input[type="text"],
.showcase-form input[type="email"] {
  border: 0;
  border-bottom: 1px solid #b4becd;
  width: 100%;
  padding: 3px;
  font-size: 16px;
}

.showcase-form input:focus {
  outline: none; /* removes the inputbox outline when clicking into the input area */
}

.showcase::before,
.showcase::after {
  content: "";
  position: absolute;
  height: 100px;
  bottom: -70px;
  right: 0;
  left: 0;
  background: #fff;
  transform: skewY(-3deg);
  -webkit-transform: skewY(-3deg); /* chrome and safari */
  -moz-transform: skewY(-3deg); /* firefox */
  -ms-transform: skewY(-3deg); /* microsoft */
}

/* Stats */
.stats {
  padding-top: 100px;
}

.stats-heading {
  max-width: 500px;
  margin: auto;
}

.stats .grid h3 {
  font-size: 35px;
}

.stats .grid p {
  font-size: 20px;
  font-weight: bold;
}

/* CLI */
.cli .grid {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.cli .grid > *:first-child {
  /* using the first-child so images can be changed without effecting the code */
  grid-column: 1 / span 2; /* image spans 2 columns */
  grid-row: 1 / span 2; /* image spans 2 rows */
}

/* Cloud */
.cloud .grid {
  grid-template-columns: 4fr 3fr;
}

/* Languages */

.languages .flex {
  flex-wrap: wrap;
}

/*.languages {
  text-align: center;
}*/

.languages,
.languages .card {
  text-align: center;
  margin: 18px 10px 40px;
  transition: transform 0.2s ease-in; /* makes the transition of translateY appear smoother */
}

.languages .card {
  font-size: 20px;
  margin-bottom: 10px;
}

.languages .card:hover {
  transform: translateY(-15px);
} /*-15 makes it go up 15px */

/* Footer */
.footer .social a {
  margin: 0 10px;
}

/* Tablets and under - refer 1:17:09 Build a Responsive Website | HTML, CSS Grid, Flexbox & More */
@media (max-width: 768px) {
  .grid,
  .showcase .grid,
  .stats .grid,
  .cli .grid,
  .cloud .grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  .showcase {
    height: auto;
  }

  .showcase-text {
    text-align: center;
    margin-top: 40px;
  }

  .showcase-form {
    justify-self: center;
    margin: auto;
  }
}

/* Mobile */

@media (max-width: 500px) {
  .navbar {
    height: 110px;
  }

  .navbar .flex {
    flex-direction: column;
  }

  .navbar ul {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.1);
  }
}
